* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 60px;
}
.header-button {
  border: 1px solid #ff52bf;
  padding: 12px 50px;
  border-radius: 30px;
  background-color: white;
  color: #ff52bf;
  font-size: 15px;
}
.build-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.build-component > h1 {
  font-size: 40px;
  padding: 40px 20px;
}
.build-component > p {
  padding: 0 30vw 8vh 30vw;
  line-height: 25px;
}
.build-component > button {
  background-color: #ff52bf;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  color: white;
  padding: 25px 80px;
  box-shadow: 2px 3px 10px grey;
}
.build-component > img {
  width: 60%;
  margin: 10vh;
}
.community {
  display: flex;
  justify-content: space-evenly;
  margin: 5vh 0 10vh 0;
}
.large {
  font-size: 70px;
  padding: 20px 0;
}
.top,
.bottom,
.footerTop {
  width: 100%;
}
.imgText-con {
  background-color: #f6fbff;
  display: flex;
  column-gap: 10%;
  align-items: center;
  margin-top: -5px;
  padding: 0 10vw;
}
.imgText-con-rev {
  flex-direction: row-reverse;
  background-color: #ffffff;
  margin: 10vh 0;
}
.text > h1 {
  padding: 20px 0;
}
.pic {
  width: 100%;
}
.contact-letters {
  background-color: #00252e;
  margin-top: -5px;
  color: white;
  display: flex;
  padding: 10vh 8vw;
  column-gap: 25%;
}
.messText {
  display: flex;
  column-gap: 10px;
  margin-bottom: 4vh;
}
.contact > p,
.letter > p {
  line-height: 25px;
  padding-bottom: 4vh;
}
.phone,
.email {
  display: flex;
  align-items: center;
  column-gap: 7%;
  padding: 15px 0;
}
.email-img,
.phone-img {
  align-self: flex-end;
}
.icons {
  font-size: 30px;
  display: flex;
  column-gap: 5%;
  margin-top: 5vh;
}
.letter > h1 {
  margin-bottom: 4vh;
}
.input-but {
  display: flex;
  column-gap: 1.5vw;
  margin-top: 4vh;
}
.input-but > input {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 8px;
}
.input-but > button {
  border-radius: 8px;
  padding: 10px 30px;
  background-color: #ff52bf;
  color: white;
  border: none;
}
@media screen and (max-width: 970px) {
  .input-but {
    flex-direction: column;
    row-gap: 3vh;
  }
  .input-but > input {
    padding: 10px;
  }
  .input-but > button {
    padding: 10px 0;
    width: 50%;
  }
}
@media screen and (max-width: 785px) {
  .header > .logo {
    width: 40%;
  }
  .header > button {
    padding: 8px 30px;
  }
  .build-component > h1 {
    font-size: 30px;
  }
  .build-component > p {
    padding: 0 20vw 8vh 20vw;
  }
  p {
    font-size: 16px;
  }
  .large {
    font-size: 50px;
  }
  .text > h1 {
    font-size: 25px;
  }
  .contact-letters {
    flex-direction: column;
    row-gap: 15vh;
  }
  .input-but {
    flex-direction: row;
  }
}
@media screen and (max-width: 630px) {
  .build-component > img {
    width: 70%;
  }
  .build-component > button {
    padding: 20px 70px;
  }
  .community {
    flex-direction: column;
    align-items: center;
    row-gap: 10vh;
  }
  .commformed {
    text-align: center;
  }
  .imgText-con {
    flex-direction: column;
    row-gap: 10vh;
    padding: 10vh 10vw;
  }
  .imgText-con-rev {
    flex-direction: column-reverse;
    margin: 10vh 0;
  }
}
@media screen and (max-width: 480px) {
  .header {
    margin: 40px 20px;
  }
  .header > .logo {
    width: 35%;
  }
  .header > button {
    padding: 4px 10px;
  }
  .build-component {
    padding: 0px;
  }
  .build-component > button {
    padding: 20px 30px;
  }
  .input-but {
    flex-direction: column;
    flex-wrap: wrap-reverse;
    padding: 0 20px;
  }
}
